* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}
body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #edeef0;
}
/*Оформление центральной части*/
#middle{
  display:inline-block;
  top:0;
  background-color: white;
  width:555px;
  height: auto;
  margin-left: 10px;
  font-family: Arial;
  font-size: 13px
}
#common{
  padding-top: 20px;
  padding-left: 20px;
  background-color: #fafbfc;
  border-bottom:1px solid #e7e8ec;
  height:55px;
  width:100%;
  font-size: 14px !important;
  font-weight: 600;
}
#middle table{
  margin-left: 20px;
  width:515px;
  border-collapse:collapse;
}
table td:first-child{
  color:#656565;
}
table #menu td{
  height:58px;
  border-bottom:1px solid #e7e8ec;
  text-align: left;
}
table #profileSettings td{
  height:135px;
  border-bottom:1px solid #e7e8ec;
  text-align: left;
}
table #profileSettings:nth-child(2) p{
  margin-bottom: 10px;
}
table #profileSettings:nth-child(2) p label:hover, p input:hover{
  cursor: pointer;
}
table #contentSettings td{
  height:185px;
  border-bottom:1px solid #e7e8ec;
  text-align: left;
}
/* Следующие 2 селектора почему то не работают */
table #contentSettings:nth-child(2) p{
  margin-bottom: 10px;
}
table #contentSettings:nth-child(2) p label:hover, p input:hover{
  cursor: pointer;
}
table #password td, #email td, #telephone td, #address td, #language td{
  height:58px;
  border-bottom:1px solid #e7e8ec;
  text-align: left;
  cursor: pointer;
}
table #language td{
  border-bottom: none;
}
#delete{
  text-align: center;
  padding-top: 20px;
  background-color: #fafbfc;
  border-top:1px solid #e7e8ec;
  height:55px;
  width:100%;
  font-size: 14px !important;
}
#middle a{
  color:#2a5885;
}
#middle a:hover{
  text-decoration: underline !important;
}
/* Здесь стилизуем подчеркивание "Изменить" при наведении на строку*/
table #password:hover a{
  text-decoration: underline !important;
}
table #email:hover a{
  text-decoration: underline !important;
}
table #telephone:hover a{
  text-decoration: underline !important;
}
table #address:hover a{
  text-decoration: underline !important;
}
table #language:hover a{
  text-decoration: underline !important;
}
/*Конец оформления центральной части*/

/* Оформим по простому футер */
.footer{
  width:100%;
  height:600px;
}
