* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}
body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #edeef0;
}
table{
  border-collapse:collapse;
}
.main{
    margin-top: 65px !important;
    background-color: #edeef0;
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
}
a{
  text-decoration: none !important;
}
/*Оформим левый сайд-бар*/
#sidebar1 {
    vertical-align: top;
    display:inline-block;
    margin-left:100px;
    background-color: #edeef0;
    font-size: 12px;
    width: 14%;
    padding: 0 10px 0 20px;
}
#sidebar1 hr {
    border: none;
    background-color: #e7e8ec;
    height: 2px;
   }
#sidebar1 table td{
  height:28px;
}
#sidebar1 table td:nth-child(3) {
  text-align:center;
  vertical-align: middle;
}
#sidebar1 table td:nth-child(2){
  width: 100px;
  color:#285473;
}
#sidebar1 table td:nth-child(1){
  width: 30px;
}
#sidebar1 table td:nth-child(3){
  vertical-align: middle;
  width: 30px;
}
#sidebar1 table td:nth-child(3) div{
  margin-left: 15px;
}
/* Изменение элементов при наведении */
#sidebar1 table  tr:hover:not(.line){
  background-color: #e1e5eb;
  cursor: pointer;
}
.fas{
  color: #99b1c6;
}
.fa-cog{
color: #d4d9e4 !important;
}
.count{
  width:15px;
  height:20px;
  color:#607389;
  border-radius: 2px;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  background-color: #d1d9e0;
  padding-top: 4px;
}
/*Конец оформления левого сайд-бара*/

/*Оформим правый сайд-бар*/
#sidebar2 {
  vertical-align: top;
  display:inline-block;
  position:sticky;
  background-color: white;
  top: 65px;
  margin-left: 10px;
  overflow-x: hidden;
  width: 20%;
  height:auto;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
}

#sidebar2 ul{
  margin-left: 0px;
  margin-right: 0px;
  list-style: none;
}
#sidebar2 ul li{
  height: 32px;
  display: block;
  vertical-align: middle;
}
#sidebar2 ul li:hover{
  background-color: #f0f2f5;
  border-left: 3px solid #5181b8;
}
#sidebar2 ul li a{
  display: block;
  color: #2a5885;
  font-size: 13px;
  font-family: Arial;
  padding-top: 8px;
  margin-left: 20px;

}
/*Конец оформления правого сайд-бара*/
