body{
    margin:0;
    padding:0;
}
.under{
  padding-left: 10px;
    position: absolute;
    top: 20px;
    left:10px;
    width: 505px;
    height: auto;
    background-color: #008b66;
    color: white;
    font-size: 25px;
}
.over{
    position: absolute;
    top: 80px;
    left: 50px;
    width: 455px;
    height: auto;
    background-color: #dfe6e1;
    font-size: 21px;
    padding:10px;
}
p{
vertical-align: top;
}
