@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        <button id="users" class="btn btn-large btn-primary" type="button">Работа с пользователями</button>
        <button id="awards" class="btn btn-large btn-primary" type="button">Работа с наградами</button>
        
    </div>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script>
        $('#users').click(function () {
            location = "/UsersPage";
        });
        $('#awards').click(function () {
            location = "/AwardsPage";
        });
    </script>
</body>
</html>
