div{
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
ul {
  font-family: Arial;
  font-size: 18px;
  list-style: none;
}
li {
  float:left;
  display: block;
  width: 115px;
  position: relative;
  background: linear-gradient(#dbdbdb 10px, #bfbfbf 20px, #dbdbdb 30px);
  text-align: center;
  color: black;
  padding: 5px 0;
}
li:hover {
   background: linear-gradient(#a9df82 10px, #6bc727 20px, #a9df82 30px);
   color: white;
   cursor: pointer;
}
li:not(:last-child)::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 28px;
  height: 28px;
  top: -1px;
  right: -6px;
  border-bottom: 6px solid white;
  border-right: 6px solid white;
  transform: rotate(-60deg) skew(-30deg);
  z-index: 1;
}
