@using PersonalBlog.Models;
@{
    Layout = "~/_mainLayout.cshtml";
    Page.Name = "Unknown";
}

@{
    string errorMessage = null;
    string goodMessage = Temp.message1;
    if (IsPost)
    {
        switch (Request.Form["enterButton"]) {
            case "Войти":
                var login = Request["login"];
                var pass = Request["password"];

                if (Auth.CheckUser(login, pass))
                {
                    //FormsAuthentication.SetAuthCookie(login, true);
                    Auth.visitor = false;
                    
                    Response.Redirect(Request.RawUrl);
                    Temp.message1 = "Вы успешно прошли авторизацию!";
                    return;
                }
                else
                {
                    errorMessage = "Неправильный логин или пароль!";
                }
                break;
        }
        switch (Request.Form["exitButton"]) {
            case "Выйти":
                Auth.visitor = true;
                Response.Redirect(Request.RawUrl);
                break;
        }
    }
}

@section head{
    <title>Clean Blog - Contact Page</title>
    <meta name="keywords" content="clean blog template, contact form, html css layout" />
    <meta name="description" content="Clean Blog Template - Contact Form, easy to use" />
    <link href="Content/templatemo_style.css" rel="stylesheet" type="text/css" />
}
<div id="templatemo_right_column">

    <div id="templatemo_main">

        <h1>Авторизация</h1>

        
    @if (errorMessage != null)
        {
        <div style="color:darkred">@errorMessage</div>
        <div class="cleaner_h10"></div>
    }
    else
    {<div class="cleaner_h30"></div>}

    @if (Auth.visitor)
    {       <p>Введите ваш логин и пароль или пройдите <a href="registration.cshtml" rel="nofollow">регистрацию</a></p>
            <div id="contact_form">

                <form method="post" name="contact" onsubmit="return validate();">
                    <input type="hidden" name="post" value="Send" />
                    <label for="login">Логин:</label>
                    <input type="text" id="login" name="login" @*class="required input_field"*@ />
                    <div class="cleaner_h10"></div>

                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" @*class="validate-email required input_field"*@ />
                    <div class="cleaner_h10"></div>

                    <input type="submit" class="submit_btn" name="enterButton" id="enterButton" value="Войти" onsubmit="return validate();" />
                </form>

            </div>
        }
        else
        {
            if (goodMessage != null)
            {
                <div style="color:darkgreen">@goodMessage</div>
                <div class="cleaner_h10"></div>
            }

    <form method="post">
        <input type="submit" class="submit_btn" name="exitButton" id="exitButton" value="Выйти" onsubmit="return validate();" />
    </form>
        }

    </div> <!-- end of main -->
    <div class="cleaner"></div>
</div> <!-- end of right column -->
@section validate{
    <script>
        function validate() {
		var userName = document.getElementById("login");
		var userPassword = document.getElementById("password");

        if (!userName.value) {
            userName.style.border = "2px solid red";
            if (document.getElementById("span1") != null) { return false; }
            var newElem = document.createElement("span");
            newElem.innerText = "Требуется логин!";
            newElem.setAttribute("style", "color:darkred");
            newElem.setAttribute("id", "span1");
            insertAfter(newElem, userName);
            if(!userPassword.value) {
                userPassword.style.border = "2px solid red";
                if (document.getElementById("span2") != null) { return false; }
                var newElem = document.createElement("span");
                newElem.innerText = "Требуется пароль!";
                newElem.setAttribute("style", "color:darkred");
                newElem.setAttribute("id", "span2");
                insertAfter(newElem, userPassword);
			    return false;
            } else {
                if (document.getElementById("span2") != null) {
                    userPassword.style.border = "1px solid grey";
                    document.getElementById("span2").remove();
                }
            }
            return false;
        } else {
            if (document.getElementById("span1") != null) {
                userName.style.border = "1px solid grey";
                document.getElementById("span1").remove();
            }
         }

		if(!userPassword.value) {
            userPassword.style.border = "2px solid red";
            if (document.getElementById("span2") != null) { return false; }
            var newElem = document.createElement("span");
            newElem.innerText = "Требуется пароль!";
            newElem.setAttribute("style", "color:darkred");
            newElem.setAttribute("id", "span2");
            insertAfter(newElem, userPassword);
			return false;
            } else { 
                if (document.getElementById("span2") != null) {
                    userPassword.style.border = "1px solid grey";
                    document.getElementById("span2").remove();
                }
            }

		return true;
        }

        function insertAfter(newNode, referenceNode) {
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
        }
        function deleteAfter(deleteNode, referenceNode) {
            referenceNode.parentNode.removeChild(newNode, referenceNode.nextSibling);
        }
    </script>
    }
