@using System.Text.RegularExpressions;
@using PersonalBlog.Models;
@using BLOG.Entities;
@{
    Layout = "~/_mainLayout.cshtml";
    Page.Name = "Registration";
    EntityWithBlogManager entity = new EntityWithBlogManager();
}

@{
    string errorMessage3 = null;
    if (IsPost)
    {
        var login = Request["login"];
        var pass = Request["password"];
        var repeatPass = Request["repeatPassword"];
        var email = Request["email"];
        var meta = Request["meta"];
        var birth = Request["birth"];
        var age = Request["age"];
        var metaId = 0;
        if (meta == "" && birth == "" && age == "")
        {
            metaId = 0;
        }
        else { metaId = entity.AddMetaAboutUser(meta, birth, Convert.ToInt32(age)); }
        bool b = entity.AddNewUser(login, pass, email, metaId);
        if (b)
        {
            Temp.checkNewUser = 1;
        }
        else { Temp.checkNewUser = 2;}
        Response.Redirect(Request.RawUrl);
    }
}

@section head{
    <title>Registration Page</title>
    <meta name="keywords" content="clean blog template, contact form, html css layout" />
    <meta name="description" content="Clean Blog Template - Contact Form, easy to use" />
    <link href="Content/templatemo_style.css" rel="stylesheet" type="text/css" />
}
<div id="templatemo_right_column">

    <div id="templatemo_main">

        <h1>Регистрация</h1>
        @if (Temp.checkNewUser == 1)
        {
            <div>Вы успешно зарегистрировались! Теперь пройдите авторизацию!</div>
            Temp.checkNewUser = 0;
        }
        else if (Temp.checkNewUser == 2) { <div>Пользователь с таким логином и электронной почтой уже зарегистрирован!</div> Temp.checkNewUser = 0;}
        else
        {<div class="cleaner_h30"></div>}
        <p>Введите логин, пароль и адрес электронной почты</p>
        <div class="cleaner_h50"></div>

        <div id="contact_form">

            <form method="post" name="contact" action="#" onsubmit="return validate();">

                <input type="hidden" name="post" value="Send" />
                <label for="login">Логин:</label> <input type="text" id="login" name="login" class="required input_field" />
                <div class="cleaner_h10"></div>

                <label for="password">Пароль:</label> <input type="password" id="password" name="password" class="required input_field" />
                <div class="cleaner_h10"></div>

                <label for="repeatPassword" style="width:150px">Повторите пароль:</label> <input type="password" id="repeatPassword" name="repeatPassword" class="required input_field" />
                <div class="cleaner_h10"></div>

                <label for="email">Ваш email:</label> <input type="email" id="email" name="email" class="validate-email required input_field" />
                <div class="cleaner_h10"></div>

                <div>
                    <label for="meta">Общая информация:</label> <textarea id="meta" name="meta" cols="30" rows="10"></textarea>
                    <label for="birth">Дата вашего рождения:</label> <input type="date" id="birth" name="birth" />
                    <label for="age">Ваш возраст:</label> <input type="text" id="age" name="age" />
                </div>
                <div class="cleaner_h10"></div>

                <input type="submit" class="submit_btn" name="registrate" id="submit" value="Зарегистрироваться" />
                <br />
                <br />
                <div>
                    <a href="enter.cshtml">Я уже зарегистрирован</a>
                </div>
            </form>

        </div>

    </div> <!-- end of main -->
    <div class="cleaner"></div>
</div> <!-- end of right column -->


<script>
    $('#back').click(function () {
        location = "/enter";
    });
</script>
@section validate{
    <script>
        function validate() {
            var userName = document.getElementById("login");
            var userPassword = document.getElementById("password");
            var repeatPassword = document.getElementById("repeatPassword");
            var email = document.getElementById("email");

            if (!userName.value) {
                userName.style.border = "2px solid red";
                if (document.getElementById("span1") != null) { return false; }
                var newElem = document.createElement("span");
                newElem.innerText = "Требуется логин!";
                newElem.setAttribute("style", "color:darkred");
                newElem.setAttribute("id", "span1");
                insertAfter(newElem, userName);
                return false;
            } else {
                if (document.getElementById("span1") != null) {
                    userName.style.border = "1px solid grey";
                    document.getElementById("span1").remove();
                }
            }

            if (!userPassword.value) {
                userPassword.style.border = "2px solid red";
                if (document.getElementById("span2") != null) { return false; }
                var newElem = document.createElement("span");
                newElem.innerText = "Требуется пароль!";
                newElem.setAttribute("style", "color:darkred");
                newElem.setAttribute("id", "span2");
                insertAfter(newElem, userPassword);
                return false;
            } else {
                if (document.getElementById("span2") != null) {
                    userPassword.style.border = "1px solid grey";
                    document.getElementById("span2").remove();
                }
            }

            if (!repeatPassword.value) {
                repeatPassword.style.border = "2px solid red";
                if (document.getElementById("span3") != null) { return false; }
                var newElem = document.createElement("span");
                newElem.innerText = "Повторите пароль!";
                newElem.setAttribute("style", "color:darkred");
                newElem.setAttribute("id", "span3");
                insertAfter(newElem, repeatPassword);
                return false;
            } else {
                if (document.getElementById("span3") != null) {
                    repeatPassword.style.border = "1px solid grey";
                    document.getElementById("span3").remove();
                }
            }

            if (userPassword.value != repeatPassword.value) {
                userPassword.style.border = "2px solid red";
                repeatPassword.style.border = "2px solid red";
                if (document.getElementById("span4") != null) { return false; }
                var newElem = document.createElement("span");
                newElem.innerText = "Пароли не совпадают!";
                newElem.setAttribute("style", "color:darkred");
                newElem.setAttribute("id", "span4");
                insertAfter(newElem, repeatPassword);
                return false;
            } else {
                if (document.getElementById("span4") != null) {
                    userPassword.style.border = "1px solid grey";
                    repeatPassword.style.border = "1px solid grey";
                    document.getElementById("span4").remove();
                }
            }

            if (!email.value) {
                email.style.border = "2px solid red";
                if (document.getElementById("span5") != null) { return false; }
                var newElem = document.createElement("span");
                newElem.innerText = "Требуется email!";
                newElem.setAttribute("style", "color:darkred");
                newElem.setAttribute("id", "span5");
                insertAfter(newElem, email);
                return false;
            } else {
                if (document.getElementById("span5") != null) {
                    email.style.border = "1px solid grey";
                    document.getElementById("span5").remove();
                }
            }

            if (email.value != null) {
                var reg = /^([A-Za-z0-9_\-\.])+\([A-Za-z0-9_\-\.])+\.([A - Za - z]{ 2, 4 }) $ /;
                if (reg.test(email.value) == false) {
                    email.style.border = "2px solid red";
                    if (document.getElementById("span6") != null) { return false; }
                    var newElem = document.createElement("span");
                    newElem.innerText = "Введите корректный e-mail!";
                    newElem.setAttribute("style", "color:darkred");
                    newElem.setAttribute("id", "span6");
                    insertAfter(newElem, email);
                    return false;
                }
            } else {
                if (document.getElementById("span6") != null) {
                    email.style.border = "1px solid grey";
                    document.getElementById("span6").remove();
                }
            }

            return true;
        }
        function insertAfter(newNode, referenceNode) {
            referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
        }
    </script>
}